@import url("variables.css");

/*Estilo Header*/

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--branco);
}

.nav-top{
    flex: 1;
}

.fa-bars{
    font-size: 30px;
    margin-left: 10px;
}

.logo-header {
    background-image: url("../../assets/images/logo-jujumelhoras.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90px;
    flex: 2;
    width: 10px;
}

#pedir-agora{
    flex: 1;
    background-color: var(--vermelho-juju);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 10px;
}


/* ================= Estilo Descrição ========================*/

#description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: var(--bege-fundo);
    padding: 10px 10px;
}

#description-img {
    min-width: 160px;
    min-height: 120px;
    margin-top: 5px;
    align-self: baseline;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-image: url("../../assets/images/Gemini_Generated_Image_saladas.png");
}

#description-text {
    justify-content: start;
    margin-right: auto;
    margin-left:20px;
}

#description-text h2{
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
    text-align: start;
    margin-bottom: 10px;

}

#description-text p{
    font-size: 14px;
    text-align: start;
    margin-bottom: 10px;
}


/*Estilo categorias*/

#categorias{
    background-color: var(--bege-fundo);
    padding: 10px 10px 0 10px;
}


.container-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--rosa-juju);
}

#icon1 {
    background-image: url("../../assets/icons/pizza.png");
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#icon2 {
    background-image: url('../../assets/icons/esfiha.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

#icon3 {
    background-image: url('../../assets/icons/burger.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

/*Estilo destaque*/


.destaque {
    height: 155px;
    width: 120px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 5px;
}

.container-destaque{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.destaque-img{
    width: 100%;
    height: 80px;
    background-position: center;
}

.destaque h3{
    font-size: 12px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

.destaque p{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.destaque-preco{
    color: var(--marrom-juju);
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;;
}

#pedir-destaque{
    background-color: var(--vermelho-juju);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 8px;
    color: #ffffff;
    text-transform: capitalize;
}

#destaque-img-1, #destaque-img-2, #destaque-img-3{
    border-radius: 5px;
    margin-bottom: 5px;
}

#destaque-img-1{
    background-image: url('../../assets/images/Gemini_Generated_Image_saladas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
}

#destaque-img-2{
    background-image: url('../../assets/images/Gemini_Generated_Image_fv1btfv1btfv1btf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
}

#destaque-img-3{
    background-image: url('../../assets/images/Screenshot_2026-02-07_23-05-34.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
}


/*Estilo Nossa História*/

#about-us {
    background-color: var(--rosa-juju);
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-img {
    background-image: url('../../assets/images/Gemini_Generated_Image_about.png');
    min-width: 120px;
    height: 90px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 10px;
}

.about-description {

    align-self: flex-start;
    justify-self: flex-start;
}

.category-title {
    margin-top: 10px;
}

.about-description p {
    font-size: 12px;
    margin-top: 10px;
}

.about-description span {
    font-weight: bold;
}


/*Estilo Endereço*/

.container-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    padding: 5px;
}

.container-address address{
    font-size: 10px;
}

.container-address span {
    font-weight: bold;
}

/*Estilo Footer*/

.container-footer {
    height: 30px;
    background-color: var(--bege-fundo);
    border: none;
}

.container-footer p {
    font-size: 11px;
    text-align: center;
}
